* {
    outline: none;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    background-color: #020659;
}

img {
    max-width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0, auto;
}